{% extends "base.html" %}

{% block content %}
<div>
    <form action="{{ url_for('user.users') }}" class="searchcontainer">
        <input type="text" name="name" placeholder="name" value="{{ name if name != '' }}">
        <select name="gender" style="text-align: center;">
            <option selected hidden value="{{ gender or '' }}">{{ gender or 'gender' }}</option>
            <option value="">All</option>
            <option>Male</option>
            <option>Female</option>
        </select>
        <input type="number" name="age" placeholder="age" value="{{ age or 'age' }}" min="1" max="100">
        <button type="submit">검색</button>
    </form>
    <div class="datainfo">
        <span>total: {{ pages['data_num'] }}</span>
    </div>
    <table class="datatable">
        <tr>
            <th>고객 id</th>
            <th>이름</th>
            <th>성별</th>
            <th>나이</th>
        </tr>
        {% for user in users %}
        <tr>
            <td><a href="./{{ user['Id'] }}">{{ user['Id'] }}</a></td>                
            <td>{{ user['Name'] }}</td>                
            <td>{{ user['Gender'] }}</td>                
            <td>{{ user['Age'] }}</td>                
        </tr>
        {% endfor %}
    </table>
    {% if not users %}
        <h5 align="center">검색 결과가 없습니다</h5>
    {% endif %}
    <ul class="pagination">
    {% if pages['prevPages'] %}
        <li><a href="./{{ pages['pagelist'][0] - 1 }}?name={{ name or '' }}&gender={{ gender or ''}}&age={{ age or ''}}">이전</a></li>
    {% endif %}
    {% for page in pages['pagelist'] %}
        {% if page == pages['current'] %}
        <li><a class="currentpage">{{ page }}</a></li>
        {% else %}
        <li><a href="./{{ page }}?name={{ name or '' }}&gender={{ gender or ''}}&age={{ age or ''}}">{{ page }}</a></li>
        {% endif %}
    {% endfor %}
    {% if pages['nextPages'] %}
        <li><a href="./{{ pages['pagelist'][9] + 1 }}?name={{ name or '' }}&gender={{ gender or ''}}&age={{ age or ''}}">다음</a></li>
    {% endif %}
    </ul>
</div>
{% endblock %}