{% extends "base.html" %}

{% block content %}
<div>
    <p class="pagetitle">고객 정보</p>
    <table class="datatable">
        <tr>
            <th>이름</th>
            <th>성별</th>
            <th>나이</th>
            <th>생년월일</th>
            <th>주소</th>
        </tr>
        <tr>
            <td>{{ user['Name'] }}</td>                
            <td>{{ user['Gender'] }}</td>                
            <td>{{ user['Age'] }}</td>                
            <td>{{ user['Birthdate'] }}</td>                
            <td>{{ user['Address'] }}</td>                
        </tr>
    </table>
    <p class="pagetitle" style="padding-top: 30px;">주문 정보</p>
    <table class="datatable">
        <tr>
            <th>주문 번호</th>
            <th>구매일시</th>
            <th>매장</th>
        </tr>
        {% for orderinfo in orderinfos %}
        <tr>
            <td><a href="../orders/{{ orderinfo['OrderId'] }}">{{ orderinfo['OrderId'] }}</a></td>                
            <td>{{ orderinfo['OrderAt'] }}</td>                
            <td><a href="../stores/{{ orderinfo['StoreId'] }}">{{ orderinfo['StoreName'] }}</a></td>                              
        </tr>
        {% endfor %}
    </table>
    <p class="pagetitle" style="padding-top: 30px;">많이 방문한 매장</p>
    <ol class="top5">
        {% for storeinfo in storeinfos %}
            <li>{{ storeinfo['Name'] }} - {{ storeinfo['NumVisits'] }}번 방문</li>
        {% endfor %}    
    </ol>
    <p class="pagetitle" style="padding-top: 30px;">많이 주문한 상품</p>
    <ol class="top5">
        {% for iteminfo in iteminfos %}
            <li>{{ iteminfo['Name'] }} - {{ iteminfo['NumOrders'] }}번 주문</li>
        {% endfor %}    
    </ol>
</div>
{% endblock %}