{% extends "base.html" %}

{% block content %}
<div>
    <table class="datatable">
        <tr>
            <th>id</th>
            <th>name</th>
            <th>gender</th>
            <th>age</th>
            <th>birthday</th>
        </tr>
        {% for user in users %}
        <tr>
            <td>{{ user['Id'] }}</td>                
            <td>{{ user['Name'] }}</td>                
            <td>{{ user['Gender'] }}</td>                
            <td>{{ user['Age'] }}</td>                
            <td>{{ user['Birthdate'] }}</td>                
        </tr>
        {% endfor %}
    </table>
    <ul class="pagination">
    </ul>
</div>
{% endblock %}