{% extends "base.html" %}

{% block content %}
<div>
    <table class="datatable">
        <tr>
            <th>id</th>
            <th>name</th>
            <th>gender</th>
            <th>age</th>
            <th>birthday</th>
        </tr>
        {% for user in users %}
        <tr>
            <td>{{ user['Id'] }}</td>                
            <td>{{ user['Name'] }}</td>                
            <td>{{ user['Gender'] }}</td>                
            <td>{{ user['Age'] }}</td>                
            <td>{{ user['Birthdate'] }}</td>                
        </tr>
        {% endfor %}
    </table>
    <ul class="pagination">
    {% if pages['prevPages'] %}
        <li><a href="/crm/users/{{ pages['pagelist'][0] - 1 }}">이전</a></li>
    {% endif %}
    {% for page in pages['pagelist'] %}
        <li><a href="/crm/users/{{ page }}">{{ page }}</a></li>
    {% endfor %}
    {% if pages['nextPages'] %}
        <li><a href="/crm/users/{{ pages['pagelist'][9] + 1 }}">다음</a></li>
    {% endif %}
    </ul>
</div>
{% endblock %}