{% extends "base.html" %}

{% block content %}
<div>
    <p class="pagetitle">상품 주문 정보</p>
    <table class="datatable">
        <tr>
            <th>구매일시</th>
            <th>매장</th>
            <th>고객</th>
        </tr>
        <tr>
            <td>{{ order['OrderAt'] }}</td>                             
            <td><a href="../stores/{{ order['StoreId'] }}">{{ order['StoreName'] }}</a></td>                
            <td><a href="../users/{{ order['UserId'] }}">{{ order['UserName'] }}</a></td>                
        </tr>
    </table>
    <p class="pagetitle" style="padding-top: 30px;">세부 주문내역</p>
    <table class="datatable">
        <tr>
            <th>상품 id</th>
            <th>카테고리</th>
            <th>상품명</th>
            <th>가격</th>
        </tr>
        {% for orderinfo in orderinfos %}
        <tr>
            <td>{{ orderinfo['ItemId'] }}</td>                
            <td>{{ orderinfo['ItemType'] }}</td>                              
            <td>{{ orderinfo['ItemName'] }}</td>                              
            <td>{{ orderinfo['ItemPrice'] }}원</td>                
        </tr>
        {% endfor %}
        <tr>
            <td>총 결제 금액</td>
            <td colspan="3">{{ total }}원</td>
        </tr>
    </table>
</div>
{% endblock %}