{% extends "base.html" %}

{% block content %}
<div>
    <form action="{{ url_for('store.stores') }}" class="searchcontainer">
        <input type="text" name="name" placeholder="지점명" value="{{ name if name != '' }}">
        <button type="submit">검색</button>
    </form>
    <div class="datainfo">
        <span>total: {{ pages['data_num'] }}</span>
    </div>
    <table class="datatable">
        <tr>
            <th>매장 id</th>
            <th>매장명</th>
            <th>지점명</th>
            <th>주소</th>
        </tr>
        {% for store in stores %}
        <tr>
            <td><a href="./{{ store['Id'] }}">{{ store['Id'] }}</a></td>                
            <td>{{ store['Type'] }}</td>                
            <td>{{ store['Name'] }}</td>                
            <td>{{ store['Address'] }}</td>                
        </tr>
        {% endfor %}
    </table>
    {% if not stores %}
        <h5 align="center">검색 결과가 없습니다</h5>
    {% endif %}
    <ul class="pagination">
    {% if pages['prevPages'] %}
        <li><a href="./{{ pages['pagelist'][0] - 1 }}">이전</a></li>
    {% endif %}
    {% for page in pages['pagelist'] %}
        {% if page == pages['current'] %}
        <li><a class="currentpage">{{ page }}</a></li>
        {% else %}
        <li><a href="./{{ page }}">{{ page }}</a></li>
        {% endif %}
    {% endfor %}
    {% if pages['nextPages'] %}
        <li><a href="./{{ pages['pagelist'][9] + 1 }}">다음</a></li>
    {% endif %}
    </ul>
</div>
{% endblock %}