{% extends "base.html" %}

{% block content %}
<div>
    <p class="pagetitle">매장 정보</p>
    <table class="datatable">
        <tr>
            <th>지점명</th>
            <th>매장명</th>
            <th>주소</th>
        </tr>
        <tr>
            <td>{{ store['Name'] }}</td>                
            <td>{{ store['Type'] }}</td>                           
            <td>{{ store['Address'] }}</td>                
        </tr>
    </table>
    <p class="pagetitle" style="padding-top: 30px;">월간 매출액</p>
    <table class="datatable">
        <tr>
            <th>월</th>
            <th>주문 수</th>
            <th>총 상품 수</th>
            <th>매출액</th>
        </tr>
        {% for orderinfo in orderinfos %}
        <tr>
            <td>{{ orderinfo['Month'] }}</td>                
            <td>{{ orderinfo['OrderCount'] }}</td>                              
            <td>{{ orderinfo['ItemCount'] }}</td>                              
            <td>{{ orderinfo['Total'] }}원</td>                
        </tr>
        {% endfor %}
    </table>
    <p class="pagetitle" style="padding-top: 30px;">단골 고객</p>
    <ol class="top5">
        {% for userinfo in userinfos %}
            <li>{{ userinfo['Name'] }} - {{ userinfo['NumVisits'] }}번 방문</li>
        {% endfor %}    
    </ol>
</div>
{% endblock %}