{% extends "base.html" %}

{% block content %}
<div>
    <div class="datainfo">
        <span>total: {{ pages['data_num'] }}</span>
    </div>
    <table class="datatable">
        <tr>
            <th>id</th>
            <th>order_id</th>
            <th>item_id</th>
        </tr>
        {% for orderitem in orderitems %}
        <tr>
            <td>{{ orderitem['Id'] }}</td>                
            <td><a href="../orders/{{ orderitem['OrderId'] }}">{{ orderitem['OrderId'] }}</a></td>                
            <td><a href="../items/{{ orderitem['ItemId'] }}">{{ orderitem['ItemId'] }}</a></td>                
        </tr>
        {% endfor %}
    </table>
    {% if not orderitems %}
        <h5 align="center">검색 결과가 없습니다</h5>
    {% endif %}
    <ul class="pagination">
    {% if pages['prevPages'] %}
        <li><a href="./{{ pages['pagelist'][0] - 1 }}">이전</a></li>
    {% endif %}
    {% for page in pages['pagelist'] %}
        {% if page == pages['current'] %}
        <li><a class="currentpage">{{ page }}</a></li>
        {% else %}
        <li><a href="./{{ page }}">{{ page }}</a></li>
        {% endif %}
    {% endfor %}
    {% if pages['nextPages'] %}
        <li><a href="./{{ pages['pagelist'][9] + 1 }}">다음</a></li>
    {% endif %}
    </ul>
</div>
{% endblock %}